@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hi+Melody&display=swap");

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Noto Sans KR;
    font-size: 16px; /* 1em */
    height: 100%;
    margin: 0;
    padding: 0;
}

div#header {
    background-color: #E36;
    color: #FFF;
    line-height: 100%;
    padding: 1em;
}

div#content_wrapper {
    background-image: url("../img/content.bg.jpg");
    /* https://www.freepik.com/free-vector/children-alphabet-seamless-pattern_6438631.htm */
    padding: 2em;
}

div#content {
    display: inline-block;
    width: 70em;
}

div#page_wrapper {
    background-color: #FFE;
    box-shadow: 0 0 4px #000;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.7em 2em 1.7em;
    width: 50em;
}

.page {
    background-image: linear-gradient(to top, #000 1px, transparent 1px);
    background-size: 100% 2.5em;
    color: #000;
    font-family: Coming Soon, Hi Melody;
    font-size : 1.3em;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    outline: None;
    padding-top: 0.3em;
}

div#page_title {
    margin-bottom: -0.3em;
    min-height: 2.5em;
}

div#page_date {
    margin-bottom: -0.3em;
    min-height: 2.5em;
}

div#page_text {
    min-height: 25em; /* 10 lines */
}

div#sidebar {
    left: 54em; /* 2em + 50em + 2em */
    position: fixed;
    width: 16em;
}

div#bubble_wrapper {
    margin-bottom: 2.5em;
}

div#bubble_text {
    line-height: 150%;
    max-height: 20em;
    overflow-y: auto;
}

div#bubble_text::-webkit-scrollbar { width: 1em; }
div#bubble_text::-webkit-scrollbar-thumb { background-color: #DCD; }
div#bubble_text::-webkit-scrollbar-track { background-color: #EDE; }

div#agent {
    background-image: url("../img/agent.dodo.png");
    background-size: 111px 180px;
    /* https://www.freepik.com/free-vector/hand-drawn-robot-character-collection_1511346.htm */
    float: right;
    height: 180px;
    position: relative;
    right: 0.5em;
    width: 111px;
}

svg#agent_eyes {
    animation: agent_eyes_blink 3s infinite;
    transform-origin: 40px 46px;
}

@keyframes agent_eyes_blink {
    from { transform: scaleY(0); }
    5%,
    to { transform: scaleY(1); }
}

.bubble {
    background-color: #FEF;
    border-radius: 1em;
    box-shadow: 0 0 4px #000;
    padding: 1em;
    position: relative;
}

.bubble::after {
    border: 0.7em solid #EEF;
    bottom: -1.4em;
    box-shadow: -2px 2px 2px #999;
    content: "";
    position: absolute;
    right: 3.8em;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.highlight {
    background-color: #FF0;
    border-radius: 0.5em;
    padding-top: 0.3em;
}

.highlight:hover {
    animation: highlight_blink 1s infinite;
    cursor: pointer;
}

@keyframes highlight_blink {
    from { background-color: #FF0; }
    50% { background-color: #CC0; }
}
