html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/content.bg.jpg");
    /* https://www.freepik.com/free-vector/children-alphabet-seamless-pattern_6438631.htm */
    font-family: Noto Sans KR;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

div#header {
    background-color: #F36;
    color: #FFF;
    line-height: 100%;
    padding: 16px;
}

div#content{ /* width: 32 + 800 + 32 + 236 = 1100px */
    padding: 32px;
}

div#page_wrapper {
    color: #333;
    display: inline-block;
    width: 800px;
}

div#page {
    background-color: #FFE;
    box-shadow: 0 0 4px #000;
    letter-spacing: 1.6px;
    padding: 32px;
}

div#page_title {
    font-family: Comic Neue, Patrick Hand;
    font-size: 40px;
    line-height: 100%;
    padding: 8px 0 12px;
    text-align: center;
}

div#page_direction {
    font-family: Comic Neue, Patrick Hand;
    font-size : 24px;
    letter-spacing: 0.8px;
    line-height: 150%;
    padding: 14px 0 12px;
}

div#page_text {
    background-image: linear-gradient(to top, #000 1px, transparent 1px);
    background-size: 100% 50px;
    font-family: Coming Soon, Ain Mom;
    font-size : 21px;
    line-height: 50px;
    outline: None;
    min-height: 500px; /* 10 lines */
    padding-top: 8px;
}

div#sidebar {
    left: 864px; /* 32 + 800 + 32 */
    position: fixed;
    width: 236px;
}

div#bubble_wrapper {
    background-color: #FEF;
    border-radius: 16px;
    box-shadow: 0 0 4px #000;
    margin-bottom: 48px;
    padding: 16px;
    position: relative;
}

div#bubble_wrapper::after {
    border: 16px solid #EEF;
    bottom: -32px;
    box-shadow: -2px 2px 2px #999;
    content: "";
    position: absolute;
    right: 60px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

div#bubble_text {
    line-height: 150%;
    max-height: 320px;
    overflow-y: auto;
}

div#bubble_text::-webkit-scrollbar { width: 12px; }
div#bubble_text::-webkit-scrollbar-thumb { background-color: #DCD; }
div#bubble_text::-webkit-scrollbar-track { background-color: #EDE; }

div#agent {
    background-image: url("../img/agent.dodo.png");
    background-size: 111px 180px;
    /* https://www.freepik.com/free-vector/hand-drawn-robot-character-collection_1511346.htm */
    float: right;
    height: 180px;
    position: relative;
    right: 10px;
    width: 111px;
}

svg#agent_eyes {
    animation: agent_eyes_blink 3s infinite;
    transform-origin: 40px 46px;
}

@keyframes agent_eyes_blink {
    from { transform: scaleY(0); }
    5%,
    to { transform: scaleY(1); }
}

.highlight {
    background-color: #EE0;
    border-radius: 8px;
    padding-top: 7px;
}

.highlight:hover {
    animation: highlight_blink 1s infinite;
    cursor: pointer;
}

@keyframes highlight_blink {
    from { background-color: #EE0; }
    50% { background-color: #EC3; }
}

@media print {

div#header { display: none; }
div#page { box-shadow: unset; padding: 0; }
div#content { padding: 0; }
div#sidebar { display: none; }

}
