@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hi+Melody&display=swap");

body {
    font-family: Noto Sans KR;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

div#header {
    background-color: #E36;
    color: #FFF;
    padding: 1em;
}

div#content_wrapper {
    background-image: url("../img/content.bg.jpg");
    /* https://www.freepik.com/free-vector/children-alphabet-seamless-pattern_6438631.htm */
    overflow: hidden;
    padding: 2em;
}

div#content {
    display: inline-block;
    width: 70em;
}

div#page_wrapper {
    background-color: #FFE;
    box-shadow: 0 0 4px #333;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.7em 2em 1.7em;
    width: 50em;
}

div#page {
    background-image: linear-gradient(to top, #333 1px, transparent 1px);
    background-size: 100% 2.5em;
    color: #333;
    font-family: Coming Soon, Hi Melody;
    font-size : 1.3em;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    min-height: 37.5em; /* 15 lines */
    outline: None;
    padding-top: 0.3em;
}

div#sidebar {
    bottom: 2em;
    left: 54em; /* 2em + 50em + 2em */
    position: fixed;
    width: 16em;
}

div#bubble_wrapper {
    box-sizing: border-box;
    display: block;
    margin-bottom: 2.5em;
}

div#bubble {
    max-height: 20em;
    overflow-y: auto;
}

div#bubble::-webkit-scrollbar { width: 1em; }
div#bubble::-webkit-scrollbar-thumb { background-color: #DCD; }
div#bubble::-webkit-scrollbar-track { background-color: #EDE; }

div#agent {
    background-image: url("../img/agent.dodo.png");
    background-size: 111px 180px;
    /* https://www.freepik.com/free-vector/hand-drawn-robot-character-collection_1511346.htm */
    float: right;
    height: 180px;
    position: relative;
    right: 0.5em;
    width: 111px;
}

#agent_eyes {
    transform-origin: 40px 46px;
    animation: blink 5s infinite;
}

@keyframes blink {
    from { transform: scaleY(0); }
    10%,
    to { transform: scaleY(1); }
}

.bubble {
    background-color: #FEF;
    border-radius: 1em;
    box-shadow: 0 0 4px #333;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.bubble::after {
    border: 1em solid #EEF;
    bottom: -2em;
    box-shadow: -2px 2px 2px #999;
    content: "";
    position: absolute;
    right: 3.5em;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}
