@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

/*
@font-face {
  font-family: "Coming Soon";
  src: url('../fonts/ComingSoon-Regular.ttf');
}
*/
