html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/content.bg.jpg");
    /* https://www.freepik.com/free-vector/children-alphabet-seamless-pattern_6438631.htm */
    font-family: Noto Sans KR;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#header {
    background-color: #F36;
    color: #FFF;
    font-weight: 300;
    line-height: 100%;
    padding: 1em;
}

div#content { /* width: 32 + 800 + 32 + 236 = 1100px */
    color: #000;
    padding: 2em;
}

div#page_wrapper {
    display: inline-block;
    width: 800px;
}

div#page {
    background-color: #FFE;
    box-shadow: 0 0 4px #000;
    padding: 2em 3em;
}

div#page_title {
    font-family: Roboto;
    font-size: 2.5em; /* 40px */
    letter-spacing: 2px;
    line-height: 200%;
    margin-bottom: 0.8em; /* 32px */
    text-align: center;
}

div#page_prompt {
    border: 1px dashed #000;
    font-family: Roboto;
    font-size : 1.25em;
    letter-spacing: 0.5px;
    line-height: 180%;
    margin-bottom: 1.6em; /* 32px */
    padding: 0.6em 0.8em; /* 16px */
}

div#page_text_cloze {
    font-family: Coming Soon, Ain Mom;
    font-size : 1.25em; /* 20px */
    letter-spacing: 1.5px;
    line-height: 2.5em; /* 50px */
}

div#page_text_cloze > div {
    background-image: linear-gradient(to top, #000 1px, transparent 1px);
    background-position-y: -0.4em; /* -8px */
    display: inline-block;
    height: 2.5em;
    outline: none;
    min-width: 160px;
}

div#page_text_essay {
    background-image: linear-gradient(to top, #000 1px, transparent 1px);
    background-position-y: -0.4em; /* -8px */
    background-size: 100% 2.5em;
    font-family: Coming Soon, Ain Mom;
    font-size : 1.25em; /* 20 px */
    letter-spacing: 1.5px;
    line-height: 2.5em; /* 50px */
    min-height: 25em; /* 10 lines */
    outline: None;
}

div#sidebar {
    left: 864px; /* 32 + 800 + 32 */
    position: fixed;
    width: 236px;
}

div#bubble_wrapper {
    background-color: #FEF;
    border-radius: 16px;
    box-shadow: 0 0 4px #000;
    margin-bottom: 48px;
    padding: 16px;
    position: relative;
}

div#bubble_wrapper::after {
    border: 16px solid #EEF;
    bottom: -32px;
    box-shadow: -2px 2px 2px #999;
    content: "";
    position: absolute;
    right: 60px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

div#bubble_text {
    line-height: 150%;
    max-height: 320px;
    overflow-y: auto;
}

div#bubble_text::-webkit-scrollbar { width: 12px; }
div#bubble_text::-webkit-scrollbar-thumb { background-color: #DCD; }
div#bubble_text::-webkit-scrollbar-track { background-color: #EDE; }

div#agent {
    background-image: url("../img/agent.dodo.png");
    background-size: 111px 180px;
    /* https://www.freepik.com/free-vector/hand-drawn-robot-character-collection_1511346.htm */
    float: right;
    height: 180px;
    position: relative;
    right: 10px;
    width: 111px;
}

svg#agent_eyes {
    animation: agent_eyes_blink 3s infinite;
    transform-origin: 40px 46px;
}

@keyframes agent_eyes_blink {
    from { transform: scaleY(0); }
    5%,
    to { transform: scaleY(1); }
}

.highlight {
    background-color: #EE0;
    border-radius: 8px;
    padding-top: 7px;
}

.highlight:hover {
    animation: highlight_blink 1s infinite;
    cursor: pointer;
}

@keyframes highlight_blink {
    from { background-color: #EE0; }
    50% { background-color: #EC3; }
}

@media print {

div#header { display: none; }
div#page { box-shadow: unset; padding: 0; }
div#content { padding: 0; }
div#sidebar { display: none; }

}
