@viewport {
    width: device-width;
    initial-scale: 1;
    minimum-scale: 1;
    maximum-scale: 1;
    user-scalable: no
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

body {
    background-color: #333;
    color: #FFF;
    font-famly: Nanum Myeongjo;
    font-size: 1em;
}

#content {
    margin: 1em;
}
